nav#head{
    background-image: url("./images/assets/backgrounds/landing.jpg");
    padding: 0px;
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-overflow: ellipsis;
    text-align: center;
}
div.break,.lunch,.dinner{
    height: 120px;
    width: 150px;
    margin: 0px;
    text-align: center;
    flex: 1;
    flex-wrap: nowrap;
    text-decoration-color: white;
}
main{
    display: flex;
    justify-content: start;
    flex-flow: wrap;
}
.happy{
    background-color: white;
    margin-left: 0;
    height: 60px;
}
.party{
    height: 60px;
    margin-left: 0;

}
.break{
    background-image: url("./images/assets/foodtop/breakfast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}
.lunch{
    background-image: url("./images/assets/foodtop/lunch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode :overlay rgba(209, 212, 212, 0.993);
    
}
.dinner{
    background-image: url("./images/assets/foodtop/dinner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   
}
.one{
    flex-direction: column;
    width: 190px;
    
}
div.Fast{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
img{
    padding: 0.2em;
    border:1px solid #021a40;;
}
#happy {
    float: left;
  }
  #pl{
    clear: both;
  }
  #pl{
      font-size: smaller;
  }
  #cup{
      float: right;
  }
  #p2{
      clear: both;
      font-size: smaller;
  }
  .drinks{
      
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .menu{
    background-image: url("./images/assets/backgrounds/foodsBg.jpg");
    padding: 80px;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    text-overflow: ellipsis;
    text-align: center;
    margin: auto;


  }
  .food{
      padding: 10px;
      padding-right: 30px;
      padding-left: 30px;
      align-content: center;
      background-color: white;
      display: inline-flex;
      height: fit-content;
      width: fit-content;


  }
  .menu.food{
      display: inline-flex;
      padding: auto;
  }
  .customers{
    align-content: center;
    padding: 10px;
    width: 800px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-overflow: ellipsis;
    text-align: center;
    border: solid;
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    
  }
  .wateja{
      float: left;
      border-style: solid;
      scroll-margin-top: 20px;
  }
  .contact{
      background-image: url("./images/assets/backgrounds/subscribe.jpg");
      align-content: center;
padding-top: 10px;
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-overflow: ellipsis;
    text-align: center;
  }
  .onee{
      background-color: tomato;
      align-content: center;
  }
  .container{
    width: available;
    height: available;
    align-content: center;
}

.leftpane{
    width: 60%;
    min-width: 350px;
    height: available;
    min-height: 400px;
    float: left;
    border-collapse: collapse;
    align-content: center;
}


.rightpane{
    width: available;
    height: available;
    position: relative;
    border-collapse: collapse;
}

